<ion-header>
  <ion-toolbar color="captain">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-searchbar debounce="500" (ionChange)="filterBySearchBar($event)" (ionClear)="filterBySearchBar($event)"
      placeholder="Search For Vendor">
    </ion-searchbar>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="6">
        <ion-select [value]="currentCategoryValues" multiple="true" selectedText="{{categoryFilterCount}} categories"
          (ionChange)="filterByCategory($event)" [interfaceOptions]="customAlertOptionsCat">
          <ion-select-option *ngFor="let category of categoryData" [value]="category.id">
            {{category.type}}
          </ion-select-option>
        </ion-select> 
      </ion-col>
      

      <ion-col size-xs="6">
        <ion-select [value]="distanceFilter" multiple="false" [interfaceOptions]="customAlertOptionsDistance"
          selectedText="within {{distanceFilter}} miles" (ionChange)="filterByDistance($event)" value="distance.value">
          <ion-select-option *ngFor="let distance of distanceData" [value]="distance.value">
            {{distance.type}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      Showing {{filterData.length}} of {{masterDataList.length}}
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content >

  <ion-list *ngIf="this.noSavedData === true">
    <ion-item>
      <ion-card class="ion-text-wrap">
        <ion-card-header color="danger">Can not retrieve data</ion-card-header>
        <ion-card-content>
          <h2>You are offline, and no saved data can be found. Please reconnect to the internet and click the reconnect button to see
            the map</h2>
            <ion-button expand='full' (click)="presentInformation()">Click to retry connection</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item> 
  </ion-list>

  
  		<capacitor-google-maps *ngIf="this.noSavedData === false" id="mapRef" #mapRef></capacitor-google-maps>
	

</ion-content>